/*TODO: загальний стиль для адекватних розмірів*/
* {
    box-sizing: border-box;
}

/*TODO: розтягуємо БОДІ на весь екран, задаємо основні стилі*/
body, html {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    font-family: Arial, serif;
    font-size: 32px;
    color: #000;
}

/*TODO: код без повторень для всіх дівів*/
div {
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}

/*TODO: стилі для основного блоку*/
.board {
    min-height: 100%;
    height: 100%;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    /*TODO: ініціалізація ітератора з назвою `column`*/
    counter-reset: column;
}

.column {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    width: 200px;
    max-width: 200px;
    overflow-y: auto;
    margin-right: 10px;

    /*TODO: ініціалізація ітератора `row` для маленьких блоків*/
    counter-reset: row;
    counter-increment: column;
}


.column::before {

    content: counter(column) ' ';
}

.column .row {
    height: 50px;

    margin-bottom: 10px;
}

.column .row::before {
    counter-increment: row;
    content: counter(column) "." counter(row) " ";
}

.board .column:nth-child(even) .row {
    background: rgb(255, 0, 0);;
}

.board .column:nth-child(odd) .row {
    background: #00f;
}

.column .row:nth-child(2n+1):hover {
    background-color: #FFFF00;

}

.column:nth-child(3n+3):hover .row {
    background-color: transparent;
    transition-delay: .05s;
}

.column:nth-child(1):hover .row{
    background-image: url("https://image.shutterstock.com/image-vector/tick-cross-symbol-icon-vector-260nw-1210763341.jpg");
    background-size: 10px 20px;
    background-position: top left;
    background-repeat: no-repeat;
}

.column:nth-child(1) .row:hover{
    background-image: url("https://image.shutterstock.com/image-vector/tick-cross-symbol-icon-vector-260nw-1210763341.jpg");
    background-size: 10px 20px;
    background-position: right bottom;
    background-repeat: no-repeat;
}